<div class="container form margin-top">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <p><%= f.text_field :first_name, placeholder: "First name", class: 'form-control' %></p>
    </div>
    <div class="form-group">
      <p><%= f.text_field :last_name, placeholder: "Last name", class: 'form-control' %></p>
    </div>
    <div class="form-group">
      <p><%= f.text_field :email, placeholder: "Email address", class: 'form-control' %></p>
    </div>
    <div class="form-group">
      <p><%= f.text_field :social_security_number, placeholder: "Social security number", class: 'form-control' %></p>
    </div>
    <div class="form-group">
      <p class="cancel-button pull-right"><%= link_to "Cancel", :back %></p>
    </div>
    <div class="form-group">
      <p><%= f.submit "Save", class: 'btn btn-success' %></p>
    </div>
  <% end %>
</div>